/* Common Page Styles */
html,
body {
    height: 100%;
}

body {
    background: #FFF;
    color: #444;
    font-size: 12px;
    padding: 0;
}

.header {
    height: 90px;
    background: #FFF;
    width: 100%;
}

.main-box {
    height: 540px;
    background: url(../img/main_bg.jpg) center center;
}

.logo {
    margin: 25px 0 0 0;
    float: left;
}

.logo > a > img {
    height: 40px;
    float: left;
    -webkit-transition: all 0.12s linear;
    -moz-transition: all 0.12s linear;
    -o-transition: all 0.12s linear;
    transition: all 0.12s linear;
}

.logo > a {
    display: inline-block;
}

.logo > a > span {
    display: inline-block;
    float: left;
    font-family: open_sanslight;
    margin-left: 10px;
    font-size: 21px;
    line-height: 22px;
    color: #000;
}

.logo > a > span > b {
    display: block;
    font-weight: normal;
    font-family: open_sansregular;
}

.scroll {
    padding-top: 50px;
}

.scroll .header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2000;
    background: #FFF;
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
    height: 50px;
}

.scroll .logo > a > img {
    height: 30px;
}

.scroll .logo > a > span b {
    display: none;
}

.scroll .logo > a > span {
    margin-top: 3px;
    font-size: 18px;
}

.scroll .logo {
    margin-top: 10px;
}

ul.main-menu {
    float: right;
    list-style: none;
    margin: 0;
}

ul.main-menu > li {
    display: inline-block;
    float: left;
    height: 87px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: open_sanslight;
    font-weight: normal;
}

ul.main-menu > li > a,
ul.main-menu > li > span {
    display: block;
    padding: 45px 15px 20px 15px;
    color: #999;
    border-top: 3px solid #e5e5e5;
    -webkit-transition: all 0.12s linear;
    -moz-transition: all 0.12s linear;
    -o-transition: all 0.12s linear;
    transition: all 0.12s linear;
}

.scroll ul.main-menu > li > a,
.scroll ul.main-menu > li > span {
    padding: 13px 15px 20px 15px;
}

ul.main-menu > li > a:hover {
    color: #666;
    border-top: 3px solid #b6b6b6;
    text-decoration: none;
}

ul.main-menu > li.active > span {
    color: #000;
    border-top: 3px solid #5ba1dc;
}

.mac {
    margin-top: 60px;
    width: 739px;
    height: 443px;
    background: url(../img/mac.png) no-repeat center center;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    overflow: hidden;
}

h1 {
    font-size: 42px;
    font-weight: normal;
}

h2 {
    font-size: 26px;
    font-family: open_sanslight;
    font-weight: normal;
    color: #000;
}

.main-info {
    margin-top: 90px;
    font-family: open_sanslight;
    color: #FFF;
}

.main-info p {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 30px;
}

.main-info h1 {
    margin: 0 0 25px;
}

button.btn {
    font-family: open_sanslight;
}

button.btn.green-btn,
button.btn.blue-btn {
    padding: 12px 25px;
    color: #FFF;
    text-shadow: none;
    font-size: 18px;
    line-height: 22px;
    background-image: none;
    box-shadow: none;
    border: none;
    -webkit-transition: background 0.12s linear;
    -moz-transition: background 0.12s linear;
    -o-transition: background 0.12s linear;
    transition: background 0.12s linear;
}

button.btn.green-btn {
    background: #93c01b;
}

button.btn.green-btn:hover {
    background: #87b900;
}

button.btn.blue-btn {
    background: #5ba1dc;
}

button.btn.blue-btn:hover {
    background: #4d98d8;
}

button.btn.green-btn:active,
button.btn.blue-btn:active {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1) inset;
}

.main-info button.btn.blue-btn {
    margin: 0 0 0 10px;
}

.carousel-area {
    margin: 25px 0 0 89px;
    width: 562px;
    height: 351px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    background: #FFF;
}

.frame {
    background: #FFF;
    margin: 0 0 30px;
}

.frame-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    margin-top: 35px;
}

.frame-title h2 {
    margin: 0;
}

.content {
    margin-top: 30px;
    margin-bottom: 10px;
}

.frame .nav-tabs
{
    border: none;
    margin: 0;
    position: relative;
    bottom: -3px;
}

.nav-tabs > li > a, .nav-pills > li > a,
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    border: none;
    padding: 8px 15px;
    font-family: open_sanslight;
    font-size: 18px;
    color: #999;
    margin: 0 0 0 2px;
}

.frame .nav-tabs > .active a {
    color: #000;
}

.nav-tabs > .active:hover,
.nav-tabs > .active {
    border-bottom: 3px solid #5ba1dc;
}

.nav-tabs > li:hover {
    border-bottom: 3px solid #DDD;
}

.nav-tabs > li:hover a {
    color: #666;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background: none;
    outline: none;
}

.core-item {
    text-align: center;
    font-family: open_sanslight;
    margin: 0 0 15px;
}

.core-item h3 {
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
}

.core-item p {
    font-size: 14px;
}

.core-item a {
    font-size: 14px;
}

.news {
    font-family: open_sanslight;
    margin: 0 0 10px 0;
    padding: 0 0 0 25px;
    background: url(../img/mark.png) no-repeat left 24px;
}

.news span {
    font-size: 12px;
    color: #9a9a9a;
}

.news p {
    font-size: 13px;
}

.footer {
    background: #f5f5f5;
    border-top: 1px solid #CCC;
    font-family: open_sanslight;
    font-size: 13px;
    padding: 20px 0 0 0;
}

ul.links {
    list-style: none;
    display: block;
    width: 360px;
    margin: 0;
    overflow: hidden;
}

ul.links > li {
    display: inline-block;
    float: left;
    width: 155px;
    margin: 0 0 10px 0;
    padding: 0 0 0 25px;
    background: url(../img/mark.png) no-repeat left 5px;
    font-size: 13px;
}

.footer b {
    font-family: open_sansbold;
    font-weight: normal;
}

.brands {
    background: #f5f5f5;
    padding: 20px 0 30px 0;
}

.brands .span2 {
    text-align: center;
    margin-top: 10px;
}

.brands img {
    -webkit-transition: all 0.12s linear;
    -moz-transition: all 0.12s linear;
    -o-transition: all 0.12s linear;
    transition: all 0.12s linear;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.brands img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.hexagon {
    width: 110px;
    height: 121px;
    margin: 0 auto;
    position: relative;
}

.hexagon i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 121px;
    line-height: 121px;
    text-align: center;
    color: #FFF;
    font-size: 60px;
}

.hexagon img {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.wrapper {
    min-width: 550px;
}

.features-list ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: block;
}
.features-list li {
    width: 280px;
    height: 230px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}
.clearfix {
    float: none;
    clear: both;
}

@media (max-width: 1350px) {
    .mac {
        width: 660px;
        height: 396px;
        margin: 75px 0 0 0;
    }

    .carousel-area {
        margin: 22px 0 0 82px;
    }

    .carousel-area,
    .carousel-area img {
        width: 496px;
        height: 315px;
    }
}

@media (max-width: 1200px) {
    .mac {
        width: 550px;
        height: 330px;
        margin: 110px 0 0 0;
    }

    .main-info {
        margin: 75px 0 0 0;
    }

    .carousel-area {
        margin: 17px 0 0 69px;
    }

    .carousel-area,
    .carousel-area img {
        width: 414px;
        height: 263px;
    }

    .features-list li {
        width: 230px;
    }
}

@media (max-width: 979px) {
    .main-box .presentation {
        display: none;
    }

    .main-box .span5 {
        width: 100%;
        text-align: center;
    }

    .main-info {
        margin: 120px 0 0 0;
    }

    .content .news-box .frame {
        margin-bottom: 0;
    }

    .footer .links-box {
        margin-bottom: 30px;
    }

    .footer .feedback-box {
        margin-bottom: 10px;
    }

    .footer .links-box,
    .footer .feedback-box,
    .content .facebook-box,
    .content .news-box {
        width: 100%;
        margin-left: 0;
    }

    ul.links {
        width: auto;
    }
}

@media (max-width: 768px) {
    .scroll .header {
        position: relative;
        height: 90px;
        box-shadow: none;
    }

    .scroll {
        padding-top: 0;
    }

    .scroll .logo > a > img {
        height: 40px;
    }

    .scroll .logo > a > span b {
        display: block;
    }

    .scroll .logo > a > span {
        margin-top: 0;
        font-size: 21px;
    }

    .scroll .logo {
        margin-top: 25px;
    }

    .scroll ul.main-menu > li > a, .scroll ul.main-menu > li > span {
        padding: 45px 15px 20px 15px;
    }

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .features-list li {
        width: 260px;
    }
}