/* Common Page Styles */
html,
body {
    height: 100%;
}

body {
    background: #F5F5F5;
    color: #444;
    font-size: 12px;
    padding: 0;
}

a {
    color: #4f93cd;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}

a:focus {
    text-decoration: none;
    outline: none;
}

.header {
    height: 90px;
    background: #FFF;
    width: 100%;
    visibility: visible;
    position: relative;
    z-index: 2000;
}

.inner-page .header {
    background: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
}

.main-box {
    height: 540px;
    background: url(../img/main_bg.jpg) no-repeat fixed center 50px;
}

.moskito-control .main-box {
    background: url(../img/main_bg_control.jpg) no-repeat fixed center 50px;
}

.logo {
    margin: 25px 0 0 0;
    float: left;
}

.logo > a > img {
    height: 40px;
    float: left;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}

.logo > a > span {
    display: inline-block;
    float: left;
    font-family: open_sanslight;
    margin-left: 10px;
    font-size: 21px;
    line-height: 22px;
    color: #000;
}

.logo > a > span > b {
    display: block;
    font-weight: normal;
    font-family: open_sansregular;
}

.scroll {
    padding-top: 90px;
}

.scroll .header {
    top: 0;
    left: 0;
    position: fixed;
    box-shadow: 0 1px 0px rgba(0,0,0,0.15);
    height: 50px;
    background: #FFF;
    border: none;
}

.scroll .logo > a > img {
    height: 30px;
}

.scroll .logo > a > span b {
    font-weight: normal;
    display: inline-block;
    font-family: open_sanslight;
}

.scroll .logo > a > span {
    margin-top: 3px;
    font-size: 18px;
}

.scroll .logo {
    margin-top: 10px;
}

ul.main-menu {
    float: right;
    list-style: none;
    margin: 0;
}

ul.main-menu > li {
    display: inline-block;
    float: left;
    height: 87px;
    padding: 0;
    margin: 0 0 0 2px;
    font-size: 18px;
    font-family: open_sanslight;
    font-weight: normal;
}

ul.main-menu > li > a,
ul.main-menu > li > span {
    display: block;
    padding: 45px 15px 20px 15px;
    color: #999;
    border-top: 3px solid #DDD;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}

.scroll ul.main-menu > li > a,
.scroll ul.main-menu > li > span {
    padding: 13px 15px 20px 15px;
}

ul.main-menu > li > a:hover {
    color: #666;
    border-top: 3px solid #999;
    text-decoration: none;
}

ul.main-menu > li.active > span {
    color: #000;
    border-top: 3px solid #5ba1dc;
}

.mac {
    margin-top: 60px;
    width: 739px;
    height: 443px;
    background: url(../img/mac.png) no-repeat center center;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    overflow: hidden;
    position: relative;
}

.display {
    margin-top: 67px;
    width: 656px;
    height: 473px;
    background: url(../img/display.png) no-repeat center center;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    overflow: hidden;
    position: relative;
    float: right;
}

.display-box {
    position: relative;
    overflow: hidden;
    padding: 0 60px;
    width: 656px;
    margin-left: -60px;
}

.display-box #carouselPrev.arrow-circle,
.display-box #carouselNext.arrow-circle {
    top: 270px;
}

h1 {
    font-size: 31px;
    font-weight: normal;
}

h2 {
    font-size: 26px;
    font-family: open_sanslight;
    font-weight: normal;
    color: #000;
}

.main-info {
    margin-top: 80px;
    font-family: open_sanslight;
    color: #FFF;
}

.main-info p {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 30px;
}

.main-info h1 {
    margin: 0 0 25px;
}

.btn {
    font-family: open_sanslight;
}

.btn.green-btn,
.btn.blue-btn {
    padding: 12px 25px;
    color: #FFF;
    text-shadow: none;
    font-size: 18px;
    line-height: 22px;
    background-image: none;
    box-shadow: none;
    border: none;
    -webkit-transition: background 0.12s linear;
    -moz-transition: background 0.12s linear;
    -o-transition: background 0.12s linear;
    transition: background 0.12s linear;
}

.btn.green-btn {
    background: #93c01b;
    margin-right: 8px;
}

.btn.green-btn:hover {
    background: #87b900;
}

.btn.blue-btn {
    background: #5ba1dc;
}

.btn.blue-btn:hover {
    background: #4d98d8;
}

.btn.green-btn:active,
.btn.blue-btn:active {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1) inset;
}

.main-info button.btn.blue-btn {
    margin: 0 0 0 10px;
}

.carousel-area {
    margin: 25px 0 0 89px;
    width: 562px;
    height: 351px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    background: #FFF;
    position: relative;
}

.moskito-control .carousel-area {
    background: none;
}

.carousel-area img {
    width: 562px;
    height: 351px;
}

.display .carousel-area {
    margin: 25px 0 0 28px;
    width: 602px;
    height: 350px;
}

.display .carousel-area img {
    width: 602px;
    height: 350px;
}

.frame.main-text {
    font-family: open_sanslight;
    font-size: 13px;
    line-height: 24px;
    margin: 50px 0 60px 0;
}

.main-text p {
    margin: 0 0 15px 0;
}

.frame {
    background: #FFF;
    margin: 0 0 30px;
}

.frame-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    margin-top: 35px;
}


.features-list .frame-title {
    margin-bottom: 10px;
}

.content {
    padding-bottom: 20px;
    background: #FFF;
    overflow: hidden;
}

.frame .nav-tabs
{
    border: none;
    margin: 0;
    position: relative;
    bottom: -3px;
}

.nav-tabs > li > a, .nav-pills > li > a,
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    border: none;
    padding: 8px 15px;
    font-family: open_sanslight;
    font-size: 18px;
    color: #999;
    margin: 0 0 0 2px;
}

.frame .nav-tabs > .active a {
    color: #000;
}

.nav-tabs > .active:hover,
.nav-tabs > .active {
    border-bottom: 3px solid #5ba1dc;
}

.nav-tabs > li:hover {
    border-bottom: 3px solid #DDD;
}

.nav-tabs > li:hover a {
    color: #666;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background: none;
    outline: none;
}

.core-item {
    text-align: center;
    font-family: open_sanslight;
    margin: 0 0 15px;
}

.core-item h3 {
    font-size: 18px;
    color: #000;
    margin-bottom: 12px;
    margin-top: 15px;
    line-height: 24px;
}

.core-item p {
    font-size: 14px;
}

.core-item a {
    font-size: 14px;
}

.next-box ul {
    margin: 0;
    list-style: none;
}

.next-box ul li {
    font-family: open_sanslight;
    margin: 0 0 10px 0;
    padding: 0 0 0 25px;
    background: url(../img/mark.png) no-repeat left 6px;
    font-size: 13px;
}

.news {
    font-family: open_sanslight;
    margin: 0 0 10px 0;
    padding: 0 0 0 25px;
    background: url(../img/mark.png) no-repeat left 24px;
}

.news span {
    font-size: 12px;
    color: #9a9a9a;
}

.news p {
    font-size: 13px;
}

.footer {
    background: #f5f5f5;
    border-top: 1px solid #DDD;
    font-family: open_sanslight;
    font-size: 13px;
    padding: 30px 0 0 0;
}

ul.links {
    list-style: none;
    display: block;
    width: 360px;
    margin: 0;
    overflow: hidden;
}

ul.links > li {
    display: inline-block;
    float: left;
    width: 155px;
    margin: 0 0 10px 0;
    padding: 0 0 0 25px;
    background: url(../img/mark.png) no-repeat left 5px;
    font-size: 13px;
}

.footer b {
    font-family: open_sansregular;
    font-weight: normal;
}

.clients {
    padding: 10px 0 5px 0;
}

.hexagon {
    width: 110px;
    height: 121px;
    margin: 0 auto;
    position: relative;
}

.hexagon i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 121px;
    line-height: 121px;
    text-align: center;
    color: #FFF;
    font-size: 50px;
}

.hexagon img {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.wrapper {
    min-width: 320px;
}

.features-list {
    margin-bottom: 50px;
}

.features-list .frame-title {
    position: relative;
}

.features-list ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: block;
}
.features-list li {
    width: 360px;
    height: 300px;
    padding: 0;
    margin: 20px 20px 0 20px;
    display: block;
    float: left;
    position: relative;
}

.moskito-control .features-list li {
    height: 275px;
}

.features-list li a.btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    margin-left: -45px;
    background: #f5f5f5;
    box-shadow: none;
    border: 1px solid #efefef;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    color: #4f93cd;
    font-size: 13px;
}

.features-list li a.btn:hover {
    background: #f5f5f5;
    border: 1px solid #DDD;
    color: #005580;
}

.features-pagination {
    position: absolute;
    right: 0;
    top: 49px;
    background: #FFF;
}

.features-pagination span {
    display: none;
}

.features-pagination a {
    display: inline-block;
    height: 3px;
    width: 70px;
    background: #DDD;
    border-top: 10px solid #FFF;
    border-bottom: 10px solid #FFF;
    margin: 0 0 0 2px;
    -webkit-transition: all 0.12s linear;
    -moz-transition: all 0.12s linear;
    -o-transition: all 0.12s linear;
    transition: all 0.12s linear;
}

.features-pagination a:hover {
    background: #999;
}

.features-pagination a.selected {
    background: #5BA1DC;
}

#toTop {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:25px;
    right:10px;
    font-weight: normal;
    width: 50px;
    height: 55px;
}

#toTop i {
    display: inline-block;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 34px;
    color: #C9C9C9;
    -webkit-transition: all 0.12s linear;
    -moz-transition: all 0.12s linear;
    -o-transition: all 0.12s linear;
    transition: all 0.12s linear;
}

#toTop:hover i {
    line-height: 35px;
    color: #666;
}

.presentation {
    position: relative;
}

.presentation-title {
    position: absolute;
    right: -110px;
    top: 80px;
    width: 90px;
}

.arrow-circle {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.3);
    text-align: center;
    line-height: 48px;
    color: #FFF;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    -webkit-transition: all 0.12s linear;
    -moz-transition: all 0.12s linear;
    -o-transition: all 0.12s linear;
    transition: all 0.12s linear;
    display: none;
    z-index: 1000;
}

.arrow-circle#carouselPrev {
    left: 30px;
    display: none;
    margin-top: -40px;
}

.arrow-circle#carouselNext {
    right: 30px;
    display: none;
    margin-top: -40px;
}

.mac:hover .arrow-circle#carouselNext {
    right: 10px;
}

.display-box:hover .arrow-circle#carouselNext {
    right: 0px;
}

.mac:hover .arrow-circle#carouselPrev {
    left: 10px;
}

.display-box:hover .arrow-circle#carouselPrev {
    left: 0px;
}

.display-box .arrow-circle,
.mac .arrow-circle {
    opacity: 0;
    filter: alpha(opacity=0);
}

.display-box:hover .arrow-circle,
.mac:hover .arrow-circle {
    opacity: 1;
    filter: alpha(opacity=100);
}

.arrow-circle:hover {
    background: rgba(0,0,0,0.5);
}

.clients ul {
    list-style: none;
    margin: 0;
}

.clients ul li {
    position: relative;
    height: 80px;
    float: left;
    margin-right: 95px;
}

.clients ul li:last-child {
    margin-right: 0;
}

.clients ul li img {
    -webkit-transition: all 0.12s linear;
    -moz-transition: all 0.12s linear;
    -o-transition: all 0.12s linear;
    transition: all 0.12s linear;
    height: 60px;
}

.clients ul li img.monochrome {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}


.clients ul li:hover img.monochrome {
    opacity: 0;
    filter: alpha(opacity=0);
}

.facebook-box {
    overflow: hidden;
}

.modal-backdrop, .modal-backdrop.fade.in {
    background-color: #000;
}

.scroll .modal-scrollable {
    margin-top: 50px;
}

.inactive {
    cursor: default;
}

.scroll .tooltip {
    visibility: hidden;
}

@media (max-width: 1350px) {
    .mac {
        width: 660px;
        height: 396px;
        margin: 75px 0 0 0;
    }

    .carousel-area {
        margin: 22px 0 0 82px;
    }

    .carousel-area,
    .carousel-area img {
        width: 496px;
        height: 315px;
    }

    .presentation-title {
        right: -40px;
        top: 100px;
    }

    .mac:hover .arrow-circle#carouselNext {
        right: 0px;
    }

    .mac:hover .arrow-circle#carouselPrev {
        left: 0px;
    }
}

@media (max-width: 1200px) {
    ul.links > li {
        background: none;
        padding: 0;
    }

    .mac {
        width: 550px;
        height: 330px;
        margin: 110px 0 0 0;
    }

    .main-info {
        margin: 60px 0 0 0;
    }

    .carousel-area {
        margin: 17px 0 0 69px;
    }

    .carousel-area,
    .carousel-area img {
        width: 414px;
        height: 263px;
    }

    .features-list li {
        width: 285px;
        height: 320px;
    }

    .moskito-control .features-list li {
        height: 300px;
    }

    .presentation-title {
        right: -65px;
        top: 100px;
    }

    h1 {
        font-size: 25px;
        line-height: 34px;
    }

    .clients ul li {
        margin-right: 70px;
    }

    .clients ul li img {
        height: 50px;
    }
}

@media (max-width: 979px) {
    ul.links > li {
        padding: 0 0 0 25px;
        background: url(../img/mark.png) no-repeat left 5px;
    }

    .main-box .presentation {
        display: none;
    }

    .main-box .span5 {
        width: 100%;
        text-align: center;
    }

    .main-info {
        margin: 80px 0 0 0;
    }

    .content .news-box .frame {
        margin-bottom: 0;
    }

    .footer .links-box {
        margin-bottom: 30px;
    }

    .footer .feedback-box {
        margin-bottom: 10px;
    }

    .footer .links-box,
    .footer .feedback-box {
        width: 100%;
        margin-left: 0;
    }

    .footer .twitter-box {
        display: none;
    }

    h2 {
        font-size: 24px;
    }

    ul.links {
        width: auto;
    }

    .features-list li {
        width: 350px;
        height: 300px;
    }

    .moskito-control .features-list li {
        height: 280px;
    }

    h1 {
        font-size: 36px;
        line-height: 46px;
    }

    .scroll .header {
        position: relative;
        height: 90px;
        box-shadow: none;
    }

    .scroll {
        padding-top: 0;
    }

    .scroll .logo > a > img {
        height: 40px;
    }

    .scroll .logo > a > span {
        margin-top: 0;
        font-size: 21px;
    }

    .scroll .logo {
        margin-top: 25px;
    }

    .scroll ul.main-menu > li > a, .scroll ul.main-menu > li > span {
        padding: 45px 15px 20px 15px;
    }

    .scroll .logo > a > span b {
        display: block;
        font-family: open_sansregular;
    }

    .main-box {
        height: 540px;
        background-position: center 0px;
    }
}

@media (max-width: 768px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .features-list li {
        width: 260px;
        height: 320px;
    }

    .moskito-control .features-list li {
        height: 320px;
    }

    .core-item h3 {
        font-size: 16px;
    }

    .main-info {
        margin: 50px 0 0 0;
    }

    .header {
        text-align: center;
    }

    ul.main-menu,
    .logo {
        float: none;
        text-align: center;
    }

    ul.main-menu {
        display: inline-block;
        margin-top: 13px;
    }

    .scroll ul.main-menu > li > a,
    .scroll ul.main-menu > li > span,
    ul.main-menu > li > a,
    ul.main-menu > li > span {
        padding: 13px 15px 20px 15px;
        color: #adbbca;
    }

    ul.main-menu > li.active > span {
        color: #FFF;
    }

    .main-info {
        margin: 80px 0 0;
    }

    .logo {
        width: auto;
    }

    .logo > a {
        display: inline-block;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 31px;
        line-height: 41px;
    }

    .moskito-control .features-list li {
        height: 350px;
    }
}


@media (max-width: 550px) {
    h1 {
        font-size: 28px;
        line-height: 38px;
    }

    .main-info p {
        font-size: 14px;
        line-height: 24px;
    }
    .features-list li {
        height: 340px;
        width: 150px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 24px;
        line-height: 34px;
    }

    .main-info p {
        font-size: 12px;
        line-height: 22px;
    }

    .features-list li {
        height: 420px;
    }

    ul.main-menu > li {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .features-list li {
        height: 500px;
    }

    h1 {
        font-size: 21px;
        line-height: 28px;
    }

    .btn.green-btn, .btn.blue-btn {
        font-size: 14px;
    }

    .features-pagination a {
        width: 60px;
    }
}