.header,
.logo,
.main-menu,
.well,
.clients,
.footer,
.main-info h1,
.main-box,
.moskito-code .main-info {
    display: none;
}

pre {
    background-color: transparent;
    border: 0px;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 0;
    text-align: left;
}
