<div class="footer footer--black">
  <div class="container">
    <div class="footer__row">
      <div class="footer__column footer__column--feedback">
        <div class="feedback">
          <h3 class="feedback__title">Feedback</h3>
          <p class="feedback__text">
            Please send your comments, suggestions or any other kind of positive or negative feedback to moskito [at]
            anotheria.net
          </p>
          <p class="feedback__text">
            For questions or help please contact us by email at <a
              href="mailto:support@moskito.org"
              class="feedback__link">support[at]moskito.org</a
            >, via <a href="https://github.com/anotheria/moskito/issues" class="feedback__link">github issues</a> or our
            <a href="https://jira.opensource.anotheria.net/projects/MSK" class="feedback__link">JIRA</a> (registration is
            free).
          </p>
          <p class="feedback__text">
            Thank you for your interest in MoSKito.
            <br /><b class="feedback__author" itemtype="http://schema.org/SoftwareApplication" itemscope="">
              <span itemtype="http://schema.org/Person" itemscope="" itemprop="author">
                <span itemprop="name"> Leon Rosenberg</span>
              </span> and the MoSKito Team
            </b>
          </p>
        </div>
      </div>
      <div class="footer__info">
        <div class="footer__column footer__column--nav">
          <div class="footer-nav">
            <h3 class="footer-nav__title">Products</h3>
            <ul class="footer-nav__list">
              <li class="footer-nav__item"><a href="http://www.moskito.org/" class="footer-nav__link">Essential</a></li>
              <li class="footer-nav__item">
                <a href="http://www.moskito.org/moskito-control.html" class="footer-nav__link">Control</a>
              </li>
              <li class="footer-nav__item">
                <a href="http://www.moskito.org/moskito-central.html" class="footer-nav__link">Central</a>
              </li>
            </ul>
          </div>
          <div class="footer-nav">
            <h3 class="footer-nav__title">Getting started</h3>
            <ul class="footer-nav__list">
              <li class="footer-nav__item">
                <a
                  href="http://blog.anotheria.net/msk/the-complete-moskito-integration-guide-step-1/"
                  target="_blank"
                  class="footer-nav__link">Step by step guide for maven and spring</a
                >
              </li>
              <li class="footer-nav__item">
                <a
                  href="http://blog.anotheria.net/msk/monitoring-existing-application-using-moskito-javaagent/"
                  target="_blank"
                  class="footer-nav__link">Integration with Javaagent</a
                >
              </li>
              <li class="footer-nav__item">
                <a href="http://www.moskito.org/integration.html" target="_blank" class="footer-nav__link"
                  >Integration guide</a
                >
              </li>
              <li class="footer-nav__item">
                <a href="http://newest.moskito.org/moskito" target="_blank" class="footer-nav__link"
                  >Nightly build (MoSKito Inspect)</a
                >
              </li>
              <li class="footer-nav__item">
                <a href="http://www.moskito.org/download.html" target="_blank" class="footer-nav__link">Download</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__column footer__column--nav">
          <div class="footer-nav">
            <h3 class="footer-nav__title">Resources</h3>
            <ul class="footer-nav__list">
              <li class="footer-nav__item">
                <a
                  href="https://confluence.opensource.anotheria.net/display/MSK/"
                  target="_blank"
                  class="footer-nav__link">Documentation</a
                >
              </li>
              <li class="footer-nav__item">
                <a
                  href="https://confluence.opensource.anotheria.net/display/MSK/Change+Log"
                  target="_blank"
                  class="footer-nav__link">Change log</a
                >
              </li>
              <li class="footer-nav__item">
                <a href="http://search.maven.org/#search%7Cga%7C1%7Cmoskito" target="_blank" class="footer-nav__link"
                  >Maven</a
                >
              </li>
              <li class="footer-nav__item">
                <a href="http://blog.anotheria.net/msk/" target="_blank" class="footer-nav__link">Blog</a>
              </li>
              <li class="footer-nav__item">
                <a href="https://speakerdeck.com/dvayanu/" target="_blank" class="footer-nav__link">Presentations</a>
              </li>
              <li class="footer-nav__item">
                <a href="https://www.youtube.com/watch?v=5RCkx-hGK1Q" class="footer-nav__link"
                  >VIDEO Introduction to MoSKito</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-nav">
            <h3 class="footer-nav__title">Apps (Barbecue)</h3>
            <ul class="footer-nav__list">
              <li class="footer-nav__item">
                <a
                  href="https://itunes.apple.com/de/app/moskito-ui/id531387262?l=en&mt=8"
                  target="_blank"
                  class="footer-nav__link"
                >
                  MoSKito UI
                </a>
              </li>
              <li class="footer-nav__item">
                <a
                  href="https://itunes.apple.com/de/app/msk-control/id688838411?l=en&mt=8"
                  target="_blank"
                  class="footer-nav__link">MoSKito Control</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__column footer__column--nav">
          <div class="footer-nav">
            <h3 class="footer-nav__title">Support</h3>
            <ul class="footer-nav__list">
              <li class="footer-nav__item">
                <a href="http://www.moskito.org/moskito-support.html" target="_blank" class="footer-nav__link"
                  >Free and Commercial</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-nav">
            <h3 class="footer-nav__title">More</h3>
            <ul class="footer-nav__list">
              <li class="footer-nav__item">
                <a
                  href="https://confluence.opensource.anotheria.net/display/MSK/MoSKito+FAQ"
                  target="_blank"
                  class="footer-nav__link">MoSKito FAQ</a
                >
              </li>
              <li class="footer-nav__item">
                <a href="http://www.moskito.org/license.html" class="footer-nav__link">License</a>
              </li>
              <li class="footer-nav__item">
                <a href="http://www.moskito.org/commiters.html" class="footer-nav__link">Commiters</a>
              </li>
              <li class="footer-nav__item">
                <a href="https://github.com/anotheria/moskito" target="_blank" class="footer-nav__link"
                  >MoSKito on GitHub</a
                >
              </li>
              <li class="footer-nav__item">
                <a href="https://jira.opensource.anotheria.net/browse/MSK" target="_blank" class="footer-nav__link"
                  >Submit a bug</a
                >
              </li>
              <li class="footer-nav__item">
                <a href="http://jaxenter.de/artikel/JavaMonitoringmitMoSKito" target="_blank" class="footer-nav__link"
                  >Java Magazin (German)</a
                >&nbsp;<a href="http://leon-rosenberg.net/JM_3_13_MoSKito.pdf" target="_blank" class="footer-nav__link"
                  >Article as PDF</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__column footer__column--social">
          <div class="social">
            <ul class="social__list">
              <li class="social__item">
                <a
                  href="https://www.facebook.com/pages/Anotherianet/120131349401"
                  target="_blank"
                  class="social__link social__link--facebook"
                  title="Facebook"
                  aria-label="Facebook"
                >
                  <i class="social__icon social__icon--facebook fa fa-facebook"></i>
                </a>
              </li>
              <li class="social__item">
                <a
                  href="https://twitter.com/hashtag/moskitojava"
                  target="_blank"
                  class="social__link social__link--twitter"
                  title="Twitter"
                  aria-label="Twitter"
                >
                  <i class="social__icon social__icon--twitter fa fa-twitter"></i>
                </a>
              </li>
              <li class="social__item">
                <a
                  href="https://www.linkedin.com/company/1081871?trk=tyah&trkInfo=clickedVertical%3Acompany%2Cidx%3A1-1-1%2CtarId%3A1432801069334%2Ctas%3Aanotheria"
                  target="_blank"
                  class="social__link social__link--linkedin"
                  title="LinkedIn"
                  aria-label="LinkedIn"
                >
                  <i class="social__icon social__icon--linkedin fa fa-linkedin"></i>
                </a>
              </li>
              <li class="social__item">
                <a
                  href="https://github.com/anotheria/moskito"
                  target="_blank"
                  class="social__link social__link--github"
                  title="GitHub"
                  aria-label="GitHub"
                >
                  <i class="social__icon social__icon--github fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .footer {
    background: #2e3234;
    color: #666;
    padding: 70px 0 30px;
    &__row {
      display: flex;
      gap: 30px;
      justify-content: space-between;
    }

    &__column {
      &--feedback {
        max-width: 360px;
      }

      &--nav {
        max-width: 195px;
      }

      &--social {
      }
    }

    &--black {
    }

    &__info {
      display: flex;
      gap: 30px;
    }
  }

  .feedback {
    &__title {
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    &__text {
    }

    &__link {
      color: #999;
      font-size: 14px;
      transition: all 0.3s;

      &:hover {
        color: #fff;
      }
    }

    &__author {
    }
  }

  .footer-nav {
    &__title {
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    &__list {
      margin-bottom: 40px;
    }

    &__item {
      margin-bottom: 5px;
    }

    &__link {
      color: #999;
      transition: all 0.3s;
      &:hover {
        color: #fff;
      }
    }
  }

  .social {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__item {
    }

    &__link {
      display: block;
      width: 40px;
      height: 40px;
      background: #666;
      text-align: center;
      line-height: 40px;
      color: #333;
      border-radius: 40px;
      font-size: 18px;
      transition: all 0.3s;

      &:hover {
        background: #fff;
      }
      &--facebook {
      }
      &--twitter {
      }

      &--linkedin {
      }

      &--github {
      }
    }

    &__icon {
      &--facebook {
      }
      &--twitter {
      }
      &--linkedin {
      }
      &--github {
      }
    }
  }

  @media (max-width: 992px) {
    .footer {
      &__row {
        flex-direction: column;
      }

      &__column {
        &--feedback {
          max-width: 100%;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .footer {
      &__info {
        flex-direction: column;
        gap: 0;
      }
    }

    .social {
      &__list {
        flex-direction: row;
      }
    }
  }
</style>
